# 部署到音箱后保存为 /data/xiaoaimusic/device.env
SPOTIFY_DEVICE_NAME='XiaoAI Music'
SPOTIFY_BITRATE=320
SPOTIFY_INITIAL_VOLUME=100
SPOTIFY_VOLUME_CTRL=linear
SPOTIFY_ENABLE_NORMALISATION=0
SPOTIFY_AUDIO_BACKEND=subprocess
SPOTIFY_AUDIO_COMMAND='/usr/bin/aplay -q -D default -t raw -f S16_LE -r 44100 -c 2'
